@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
}

.btn {
  @apply cursor-pointer text-white p-2 rounded my-2;
  background-color: #03256C;
  background-image: linear-gradient(225deg, #03256C 0%, #125D98 50%, #2B86C5 100%);
}

.modal {
  @apply absolute z-50 rounded-lg bg-white shadow-md inset-1 px-2 py-1  flex flex-col items-center h-auto max-w-screen-lg mx-auto;
}
.profile {
  max-width: 12rem;
  max-height: 12rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.profile-small {
  max-width: 6rem;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.backdrop {
  @apply flex flex-col w-screen h-screen bg-blue-100 min-h-screen;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  background-size: 100%;
  height: 100%;
}

.loader{
  @apply mx-auto flex w-min;
  padding: 2rem;
  transform-origin: center center;
}

.loader > .bar{
  width: 8px;
  background:black;
  height: 2rem;
  margin: 0 8px;
  border-radius: 100px;
  animation: shift 1s linear infinite alternate;
  transform-origin: center center;
}

/* LOADER */
.loader .bar:nth-child(odd){
  animation-delay: 1s;
}

@keyframes shift {
  from {
    height: 0.5rem;
    transform: translateY(1.75rem);
    background: black;
  }

  to {
    transform: translateY(0);
    height: 4rem;
    background: #03256C;
  }
}
/* END LOADER  */

/* TOAST  */
.toast{
  @apply absolute rounded-lg p-4 shadow;
  left:50%;
  top: 6rem;
  width: 420px;
  max-width: 80%;
  z-index: 10;
  text-align: center;
  transform: translateX(-50%) translateY(0);
  color:white;
  animation: enter 1s ease-in forwards;
}

.toast.leave {
  animation: leave 1s ease-in forwards;
}
.toast > .dismiss {
  position: absolute;
  top:0.5rem;
  right:0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.toast.default {
  background: #005A8D;
}
.toast.success {
  background: #147768;
}
.toast.error {
  background: #BA135D;
}

@keyframes enter {
  from {
    transform: translateX(-50%) translateY(-200px);
  }

  to {
    transform: translateX(-50%) translateY(-0.9rem);
  }
}
@keyframes leave {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(-200px);
  }
}
/* END TOAST */